// Color Cube
$white: #FFFFFF;
$wood: #111118;
$lagoon: #028383;
$abbey: #4E4F52;
$silver: #95A0A1;
$fountain: #51BABB;
$mark: #51b9bb38;
$texas: #FEAC61;
$copper: #AD6A35;

// Median cut
$shark: #191920;
$nurse: #E6EEE8;
$salt: #ECECEC;
$trade: #5fa9ad9a;
$smalt: #21333E;

// Material design
$cape: #A36A4C;
$muted: #626165;
$surfe: #046464;
$cape: #434747;
$serria: #DA945B;

