// Color Cube
$white: #FFFFFF;
$wood: #111118;
$lagoon: #028383;
$abbey: #4E4F52;
$silver: #C0BBB1;
$fountain: #51BABB;
$texas: #FEAC61;
$copper: #AD6A35;

// Median cut
$shark: #1D2528;
$nurse: #E6EEE8;
$salt: #676669;
$trade: #5FA9AD;
$smalt: #21333E;

// Material design
$cape: #A36A4C;
$muted: #626165;
$surfe: #0A8081;
$cape: #434747;
$serria: #DA945B;

